.potions {
    min-height: 100vh;
    position: relative;
    /* background-image: radial-gradient(#003304, var(--main-color)); */
}

.potions video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.potions h2, .potions h3, .potions p {
    color: var(--secondary-color);
}

.potions h2 {
    font-size: calc(var(--spacing-large) * 2);
    margin-top: calc(var(--spacing-large) * 1.2);
}

.potions span, .potions-icons {
    color: var(--warm-color);
}

.potions h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: calc(var(--spacing-large) * 1.2);
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    .potions h3 {
        font-size: var(--spacing-large);
    }
}

@media screen and (max-width: 414px) {
    .potions h2 {
        font-size: calc(var(--spacing-large) *1.3);
        margin-top: 0;
    }
    .potions h3 {
        font-size: calc(var(--spacing-large) * 0.9)
    }
}