.potion-card {
    width:100%;
    background: var(--main-color);
}
.potion-card figure img{
    object-fit:cover;
    object-position: center;
    border-radius:50%;
}
.potion-card h3{
    color:var(--secondary-color);
}
.potion-card p{
    font-family:var(--secondary-font);
    color: var(--secondary-color);
    font-size:1.3em;
}
@media screen and (min-width: 576px){
    .potion-card figure{
        height:200px;
    }
}

@media screen and (min-width:768px){
    .potion-card{
        width:300px;
    }
    .potion-card figure{
        height:unset;
    }
}

@media screen and (min-width: 992px){
    .potion-card{
        width: calc(100vw /3.5);
    }
}