.potion-card {
    width:100%;
    background: #001902b2;
    border: 1px solid var(--secondary-color);
}
.potion-card figure{
    width:300px;
    height:300px;
}
.potion-card figure img{
    object-fit:cover;
    object-position: center;
    border-radius:50%;
}
.potion-card h3{
    color:var(--secondary-color);
    font-size : 1.8em;
}

.potion-card p{
    font-family:var(--secondary-font);
    color: var(--secondary-color);
    font-size:1.3em;
}
.recipe-container p:last-of-type{
    color:var(--warm-color);
}
@media screen and (min-width: 576px){
    .potion-card figure{
        height:200px;
        width:100%;
    }
    .potion-card h3{
        min-height:75px;
    }
}

@media screen and (min-width:768px){
    .potion-card{
        width:300px;
    }
    .potion-card figure{
        width:250px;
        height:250px;
    }
    .potion-card .card-body{
        min-height:270px;
    }
}

@media screen and (min-width: 992px){
    .potion-card{
        width: calc(100vw /3.9);
    }
    .potion-card figure{
        width:280px;
        height:280px;
    }
}