@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --main-font: 'UnifrakturMaguntia', cursive;
  --secondary-font: 'Delius Swash Caps', cursive;
  --main-color: #001902;
  --secondary-color: #FFFCEE;
  --warm-color:#E9AE60;
  --spacing: 8px;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing)* 4);
}

h1, h2, h3{
  font-family: var(--main-font);
}

